nav {
    color: #2f6bed;
    background-color: #fefa7e;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: #7ee950;
    background-color: #fefa7e;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    color: #df7eee;
    background-color: #fefa7e;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    color:#6b97f6;
    background-color: #fefa7e;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

strong {
    color: #f55a5a;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

em {
    color: #ffffff;
    background-color: #f88fff;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 500px;
    width: auto;
    text-align: center;
}

body {
    color:#6b97f6;
    background-color: #fefa7e;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body ul {
    text-align: left;
}

body li {
    text-align: left
}